<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="carsales.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Find the perfect car from our stock</h1>

    <fieldset>
        <legend>User login information</legend>
        <form action ="FindVehicles" method="GET"> <!--CHANGE TO POST after testing-->
            <p>MAKE <input name= "make" type ="text"></p>
            <p>MODEL <input name= "model" type ="text"></p>
            <p>YEAR <input name= "year" type ="text"></p>
            <p>COLOR <input name= "color" type ="text"></p>
            <p>CLASS <input name= "class" type ="text"></p>
            <!--<p>PRICE <input name= "price"type ="text"></p>-->
            <input type="submit" value ="Search current stock for your vehicle">

        </form>


    </fieldset>
</body>

<div class="footer">
        <p>Paulie's Auto Sales &copy; 2019</p>
      </div>
</html>


