 
<%var Make = carChoice[0].make%>
<%var Model = carChoice[0].model%> 
<%var Color = carChoice[0].color%>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="carsales.css">
    <script src="main.js"></script>
</head>
<body>
    

<h1>We offer the following auto options for you:</h1>



<% for (let i = 0; i < carChoice.length; i++) { %>
	
        <%=carChoice[i].make %>
        <br>
        <%=carChoice[i].model %>
        <br>
        <%=carChoice[i].color %>

        <hr>

<% } %>






</body>

<div class="footer">
        <p>Paulie's Auto Sales &copy; 2019</p>
      </div>
</html>