
/* body {
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
} */

.body {
  width: 600;
  background-color: rgb(111, 102, 231);
} 





.header{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(137, 137, 161);
  color: white;
  text-align: center;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(78, 78, 206);
  color: white;
  text-align: center;
  clear: both;
}

.button{
color: rgb(19, 33, 34);
border-radius: radius 5px;
padding: 3px;

background-color: rgb(41, 35, 61); /* Green */
border: 5px;
color: white;
padding: 3px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.nav{
background-color: rgb(78, 78, 206);
width: 180px;
float: left;
padding:10;
list-style-type: none;
}


.nav ul{
  list-style-type: none;
}